/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap'); */
* {
  margin: 0;
  padding: 0;
}

/* Custom css */
.logoColor {
  color: black;
}

body {
  background-color: whitesmoke;
}